<!-- Main section -->
<section>
  <div class="container">
    <div class="password-container my-5">
      <p class="fs-2 fw-bold">Password</p>
      <p class="my-4">
        Your password must be at least 8 characters long, and contain at least
        one digit and one non-digit character
      </p>
      <label for="exampleFormControlInput1" class="form-label"
        >New password</label
      >
      <input
        type="password"
        class="form-control main-btn mb-3"
        id="exampleFormControlInput1"
      />

      <label for="exampleFormControlInput1" class="form-label"
        >Confirm new password</label
      >
      <input
        type="password"
        class="form-control main-btn mb-3"
        id="exampleFormControlInput1"
      />

      <button class="btn btn-black my-lg-3 my-md-3 my-1">Update</button>
    </div>
  </div>
</section>
