<!-- Main section -->
<section>
  <div class="container">
    <div class="password-container my-5">
      <p class="fs-2 fw-bold">Password</p>
      <p class="my-4">
        Your password must be at least 8 characters long, and contain at least
        one digit and one non-digit character
      </p>
      <form #passwordForm="ngForm" (ngSubmit)="forgotPassword(passwordForm)">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >New password</label
          >
          <input
            type="password"
            class="form-control main-btn"
            name="newpassword"
            [(ngModel)]="passwordDetails.newPassword"
            #newPassword="ngModel"
            required
          />
          <div
            class="text-start text-danger"
            *ngIf="newPassword.invalid && newPassword.touched"
          >
            <small *ngIf="newPassword.errors?.['required']"
              >New password is required</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Confirm new password</label
          >
          <input
            type="password"
            class="form-control main-btn"
            name="confirmpassword"
            [(ngModel)]="passwordDetails.confirmPassword"
            #confirmPassword="ngModel"
            required
          />
          <div
            class="text-start text-danger"
            *ngIf="confirmPassword.invalid && confirmPassword.touched"
          >
            <small *ngIf="confirmPassword.errors?.['required']"
              >Confirm password is required</small
            >
          </div>

          <div *ngIf="isPasswordMatch()">
            <small class="text-danger">Passwords do not match!</small>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-black my-lg-3 my-md-3 my-1"
          [disabled]="isPasswordMatch() || passwordForm.invalid"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</section>
