<!-- Main Section -->
<section>
  <div class="container">
    <div class="login-container">
      <p class="fs-2 mb-5">{{'Login in Rider app' | translate}}</p>

      <a routerLink="user" class="btn main-btn w-100">
        <i class="bi bi-person-circle mx-1"></i>
        {{'Login as User' | translate}}
      </a>
      <div class="divider">or</div>
      <a routerLink="captain" class="btn main-btn w-100 mt-2">
        <i class="bi bi-car-front-fill mx-1"></i>
        {{'Login as Captain' | translate}}
      </a>

      <p class="text-muted text-start mt-3 small">
        {{'By proceeding, you consent to get calls, WhatsApp or SMS/RCS messages, including by automated means, from Rider and its affiliates to the number provided.' | translate}}
      </p>
    </div>
  </div>
</section>
