<div class="card">
  <div class="card-body">
    <div class="row p-1">
      <div class="d-flex justify-content-between">
        <div>
          <h2 class="card-title">All rides</h2>
        </div>
        <div>
          <!-- <button class="btn btn-success text-white mx-2">
            Export to current
          </button> -->
          <button class="btn btn-success text-white mx-3">
            Export to excel
          </button>
        </div>
      </div>
      <div class="table-responsive small my-3">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">_id</th>
              <th scope="col">Ride created</th>
              <th scope="col">Pickup address</th>
              <th scope="col">Drop address</th>
              <th scope="col">Ride status</th>
              <th scope="col">Ride created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ride of rides">
              <td>{{ ride._id }}</td>
              <td>
                {{
                  ride.user.fullname.firstname +
                    " " +
                    ride.user.fullname.lastname
                }}
              </td>
              <td>{{ ride.pickup }}</td>
              <td>{{ ride.destination }}</td>
              <td>
                {{
                  ride.status === "pending"
                    ? "Ride not accepted by captain"
                    : ride.status === "accepted"
                    ? "Ride accepted by captain"
                    : ride.status === "ongoing"
                    ? "Ride started"
                    : ride.status === "completed"
                    ? "Ride completed"
                    : ride.status === "cancelled"
                    ? "Ride cancelled"
                    : null
                }}
              </td>
              <td>{{ ride.createdOnTs | date : "short" }}</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-sm btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                      ></a>
                    </li>
                    <li>
                      <a class="dropdown-item"></a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination
          [collectionSize]="totalActiveRides"
          [(page)]="activeRidescurrentPage"
          [maxSize]="5"
          [pageSize]="activeRidesTableSize"
          (pageChange)="onTableActiveRideDataChange($event)"
          ><ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
