<!-- Navbar -->
<app-navbar-captain></app-navbar-captain>

<!-- Top section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-4">Rider Wallet</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <div class="card cash-card">
          <div class="card-body">
            <p class="card-subtitle fs-6 fw-semibold text-body-secondary mt-2">
              Rider Cash
            </p>
            <p class="card-title fs-2 fw-bold mt-3 mb-4">
              <i class="bi bi-currency-rupee"></i>{{ wallet?.balance }}
            </p>
            <p class="card-text fw-medium mb-2">
              Current balance or current rider cash present in rider captain
              account. Use this cash for withdraw.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card add-cash-card">
          <div class="card-body">
            <p class="card-subtitle fs-6 fw-semibold text-body-secondary mt-2">
              Add rider Cash
            </p>
            <p class="card-text fw-medium my-2">Add money to wallet</p>

            <input
              type="number"
              class="form-control mt-3 cash-input"
              placeholder="Enter rider cash amount"
              [(ngModel)]="addCashAmount"
            />

            <button
              class="add-cash-btn mt-4 mb-md-3 mb-lg-0"
              (click)="paymentInit()"
              [disabled]="addCashAmount <= 0"
            >
              Add cash
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="card mt-4">
          <div class="card-body">
            <p class="card-subtitle fs-6 fw-semibold text-body-secondary mt-2">
              Withdraw your rider Cash
            </p>
            <p class="card-text fw-medium my-2">
              Withdraw money from wallet and transfer to your bank account.
            </p>

            <input
              type="number"
              class="withdraw-cash-input mt-3 cash-input"
              placeholder="Enter rider cash amount"
              [(ngModel)]="withdrawCashAmount"
            />

            <p class="mt-1 m-0">
              <small class="fw-semibold">Note: </small
              ><small
                >Ensure that the amount entered is greater than to your current
                balance. The minimum wallet balance should be 500. The
                withdrawal process may take up to 3 business days.</small
              >
            </p>

            <button
              class="withdraw-cash-btn mt-4 mb-md-3 mb-lg-0"
              [disabled]="
                wallet?.balance <= 500 ||
                wallet?.balance < withdrawCashAmount ||
                withdrawCashAmount <= 0
              "
              (click)="withdrawCash()"
            >
              Withdraw cash
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-5">Wallet transactions</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div
        class="col-lg-8 table-responsive small"
        *ngIf="totalTransaction !== 0"
      >
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">_id</th>
              <th scope="col">Ride Info</th>
              <th scope="col">Transaction</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let walletTranscation of walletTranscations">
              <td>{{ walletTranscation._id }}</td>
              <td>
                {{ walletTranscation.rideId?.pickup }} --
                {{ walletTranscation.rideId?.destination }}
              </td>
              <td>{{ walletTranscation.transactionType }}</td>
              <td>{{ walletTranscation.amount }}</td>
              <td>{{ walletTranscation.description }}</td>
              <td>{{ walletTranscation.date }}</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination
          [collectionSize]="totalTransaction"
          [(page)]="activeTransactioncurrentPage"
          [maxSize]="5"
          [pageSize]="activeTransactionTableSize"
          (pageChange)="onTableActiveRideDataChange($event)"
          ><ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
        </ngb-pagination>
      </div>
      <div class="col-lg-8">
        <p class="fs-5 fw-semibold text-danger" *ngIf="totalTransaction == 0">
          No transaction found in your wallet...
        </p>
      </div>
    </div>
  </div>
</section>
