<header
  class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow"
  data-bs-theme="dark"
>
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-3 fw-semibold text-white"
    href="#"
    >Rider</a
  >

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button
        class="nav-link px-3 text-white"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <svg class="bi"><use xlink:href="#list" /></svg> -->
        <i class="bi bi-list"></i>
      </button>
    </li>
  </ul>

  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input
      class="form-control w-100 rounded-0 border-0"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div
      class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"
    >
      <div
        class="offcanvas-md offcanvas-end bg-body-tertiary"
        tabindex="-1"
        id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">
            Rider Admin Dashboard
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
        >
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2 active"
                aria-current="page"
                routerLink="/dashboard"
              >
                <!-- <svg class="bi"><use xlink:href="#house-fill" /></svg> -->
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2"
                routerLink="/dashboard/rides"
              >
                <!-- <svg class="bi"><use xlink:href="#file-earmark" /></svg> -->
                Rides
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2"
                routerLink="/dashboard/users"
              >
                <!-- <svg class="bi"><use xlink:href="#cart" /></svg> -->
                Users
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2"
                routerLink="/dashboard/captains"
              >
                <!-- <svg class="bi"><use xlink:href="#people" /></svg> -->
                Captains
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2"
                routerLink="/dashboard/captains-request"
              >
                <!-- <svg class="bi"><use xlink:href="#graph-up" /></svg> -->
                Captains Request
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/user-wallets">
                User Wallets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/captain-wallets">
                Captain Wallets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/coupons">
                <!-- <svg class="bi"><use xlink:href="#puzzle" /></svg> -->
                Coupons
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/admins">
                Admins
              </a>
            </li>
          </ul>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase"
          >
            <span>Add</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <!-- <svg class="bi"><use xlink:href="#plus-circle" /></svg> -->
            </a>
          </h6>
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/add-coupons">
                <!-- <svg class="bi"><use xlink:href="#file-earmark-text" /></svg> -->
               Add coupon
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/dashboard/add-admin">
                <!-- <svg class="bi"><use xlink:href="#file-earmark-text" /></svg> -->
                Add admin
              </a>
            </li>
          </ul>

          <hr class="my-3" />

          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center gap-2 btn"
                (click)="logOutAdmin()"
                tabindex="0"
              >
                <!-- <svg class="bi"><use xlink:href="#door-closed" /></svg> -->
                Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
