<div class="card">
  <!-- <div class="card-header">Featured</div> -->
  <div class="card-body">
    <div class="row p-1">
      <div class="d-flex">
        <div>
          <h2 class="card-title">Track order:</h2>
        </div>
        <div class="mx-2">
          <h4 class="my-2">
            {{
              ride.status === "pending"
                ? "Ride not accepted by captain"
                : ride.status === "accepted"
                ? "Ride accepted by captain"
                : ride.status === "ongoing"
                ? "Ride started"
                : ride.status === "completed"
                ? "Ride completed"
                : ride.status === "cancelled"
                ? "Ride cancelled"
                : null
            }}
          </h4>
        </div>
      </div>
      <div class="map" id="map" class="match-parent"></div>
    </div>
  </div>
</div>
