<!-- Main Section -->
<section *ngIf="emailDiv">
  <div class="container">
    <div class="login-container">
      <h5>What's your phone number or email?</h5>
      <input
        type="text"
        class="form-control my-3 main-btn"
        placeholder="Enter phone number or email"
      />
      <button class="btn btn-black" (click)="getOtp()">Continue</button>

      <div class="divider">or</div>

      <button class="btn main-btn w-100">
        <i class="bi bi-google mx-1"></i>
        Continue with Google
      </button>
      <button class="btn main-btn w-100 mt-2">
        <i class="bi bi-apple mx-1"></i>
        Continue with Apple
      </button>

      <div class="divider">or</div>

      <button class="btn main-btn w-100">
        <i class="bi bi-qr-code-scan mx-1"></i>
        Log in with QR code
      </button>

      <p class="text-muted text-left mt-3 small">
        By proceeding, you consent to get calls, WhatsApp or SMS/RCS messages,
        including by automated means, from Uber and its affiliates to the number
        provided.
      </p>
    </div>
  </div>
</section>

<!-- Otp Section -->
<section *ngIf="otpDiv">
  <div class="container">
    <div class="otp-container">
      <h5>Welcome back, Captain.</h5>
      <p>Enter the 4-digit code sent via SMS at 09764715488.</p>
      <a href="#" class="text-decoration-none">Changed your mobile number?</a>

      <div class="d-flex justify-content-center my-3">
        <input
          type="text"
          class="otp-input form-control main-btn"
          maxlength="1"
        />
        <input
          type="text"
          class="otp-input form-control main-btn"
          maxlength="1"
        />
        <input
          type="text"
          class="otp-input form-control main-btn"
          maxlength="1"
        />
        <input
          type="text"
          class="otp-input form-control main-btn"
          maxlength="1"
        />
      </div>

      <button class="btn main-btn">Resend code via SMS</button>
      <button class="btn main-btn mt-2">More options</button>

      <div class="d-flex justify-content-between align-items-center mt-4">
        <div>
          <button class="btn-nav" (click)="backToEmail()">
            <i class="bi bi-arrow-left"></i>
          </button>
        </div>
        <div>
          <button class="btn btn-secondary" (click)="verifyOtp()">
            Next <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- password section -->
<section *ngIf="passwordDiv">
  <div class="container">
    <div class="password-container">
      <h5>Enter your password</h5>
      <p>Enter the password for your account.</p>

      <input
        type="password"
        class="form-control my-3 main-btn"
        placeholder="Enter password"
      />
      <a href="#" class="text-decoration-none">Forgot your password?</a>

      <div>
        <button class="btn btn-secondary w-100 mt-3 btn-black">Login</button>
      </div>
    </div>
  </div>
</section>
