<!-- Main Section -->
<section>
  <div class="container">
    <div class="login-container">
      <p class="fs-2 mb-5">Sign up in Rider app</p>

      <a routerLink="user" class="btn main-btn w-100">
        <i class="bi bi-person-circle mx-1"></i>
        Sign up as User
      </a>
      <div class="divider">or</div>
      <a routerLink="captain" class="btn main-btn w-100 mt-2">
        <i class="bi bi-car-front-fill mx-1"></i>
        Sign up as Captain
      </a>

      <p class="text-muted text-start mt-3 small">
        By proceeding, you consent to get calls, WhatsApp or SMS/RCS messages,
        including by automated means, from Uber and its affiliates to the number
        provided.
      </p>
    </div>
  </div>
</section>
