<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fs-4 fw-semibold">Rider</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            role="button" 
            tabindex="0"
            data-bs-toggle="modal" 
            data-bs-target="#staticBackdrop"
            ><i class="bi bi-globe me-2"></i>{{ language | uppercase }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/user-home"
            >{{'Ride' | translate}}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/trips"
            >{{'Activity' | translate}}</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{'Details' | translate}}
          </a>
          <ul class="dropdown-menu my-lg-3">
            <li>
              <a class="dropdown-item" routerLink="/wallet-user">{{'Wallet' | translate}}</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user-profile"
                >{{'Manage profile' | translate}}</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/forgot-password/user"
                >{{'Forgot password' | translate}}</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">{{'Log out' | translate}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--Language selection Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel">{{'Select your preferred language' | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>        
        <div class="row my-4 ms-1 gap-4">
          <div class="col-lg-3 col-md-4 col-sm-8 col-10 fw-semibold" [class.lang-sel-div]="!(language == 'en')" [ngClass]="{'lang-selected-div' : language == 'en'}" data-bs-dismiss="modal" (click)="selectLanguage('en')">English</div>
          <div class="col-lg-3 col-md-4 col-sm-8 col-10 fw-semibold" [class.lang-sel-div]="!(language == 'hi')" [ngClass]="{'lang-selected-div' : language == 'hi'}" data-bs-dismiss="modal" (click)="selectLanguage('hi')">हिन्दी</div>
          <div class="col-lg-3 col-md-4 col-sm-8 col-10 fw-semibold" [class.lang-sel-div]="!(language == 'mr')" [ngClass]="{'lang-selected-div' : language == 'mr'}" data-bs-dismiss="modal" (click)="selectLanguage('mr')">मराठी</div>
        </div>
      </div>
    </div>
  </div>
</div>