<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand fs-4 fw-semibold">Rider</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/user-home"
            >Ride</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/trips"
            >Activity</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Details
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Wallet</a></li>
            <li>
              <a class="dropdown-item" routerLink="/user-profile"
                >Manage profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/forgot-password/user"
                >Forgot password</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
