<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Main section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 my-md-5">
        <div class="shadow-lg p-3 mb-md-5 mb-4 bg-body-tertiary rounded">
          <div>
            <p class="fs-4 fw-bolder mx-1">Get a ride</p>
          </div>
          <div>
            <form
              #locationDetailsForm="ngForm"
              (ngSubmit)="locationForm(locationDetailsForm)"
            >
              <div class="form-floating mb-3 position-relative">
                <input
                  type="text"
                  class="form-control main-btn"
                  id="floatingInput"
                  placeholder="Enter pickup location"
                  [(ngModel)]="location.pickupLoc"
                  [ngModelOptions]="{ standalone: true }"
                  (input)="getPickupSuggestion()"
                  data-bs-toggle="dropdown"
                  autocomplete="off"
                />
                <label for="floatingInput">Pickup location</label>

                <!-- Dropdown list -->
                <ul class="dropdown-menu w-100 mt-1 position-absolute">
                  <li
                    *ngFor="let suggestion of suggestions"
                    (click)="selectPickupLocation(suggestion)"
                  >
                    <a class="dropdown-item">{{ suggestion }}</a>
                  </li>
                  <li *ngIf="isSuggestionsPresent">
                    <a class="dropdown-item disabled">No results</a>
                  </li>
                </ul>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control main-btn"
                  id="floatingInput"
                  placeholder="Enter drop location"
                  [(ngModel)]="location.dropLoc"
                  (input)="getDropSuggestion()"
                  [ngModelOptions]="{ standalone: true }"
                  data-bs-toggle="dropdown"
                  autocomplete="off"
                />
                <label for="floatingInput">Drop location</label>

                <!-- Dropdown list -->
                <ul class="dropdown-menu w-100 mt-1 position-absolute">
                  <li
                    *ngFor="let suggestion of suggestions"
                    (click)="selectDropLocation(suggestion)"
                  >
                    <a class="dropdown-item">{{ suggestion }}</a>
                  </li>
                  <li *ngIf="isSuggestionsPresent">
                    <a class="dropdown-item disabled">No results</a>
                  </li>
                </ul>
              </div>
              <button
                type="submit"
                class="btn form-control p-2 mb-2 search-btn"
                [disabled]="!location.pickupLoc || !location.dropLoc"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 my-md-4">
        <app-map class="mx-md-4" [height]="'78vh'"></app-map>
      </div>
    </div>
  </div>
</section>
