<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Top section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-4">Rider Wallet</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <div class="card cash-card">
          <div class="card-body">
            <p class="card-subtitle fs-6 fw-semibold text-body-secondary mt-2">
              Rider Cash
            </p>
            <p class="card-title fs-2 fw-bold mt-3 mb-4">
              <i class="bi bi-currency-rupee"></i>0.00
            </p>
            <p class="card-text fw-medium mb-2">
              Current balance or current rider cash present in rider user
              account. Use this cash for ride generation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card cash-card">
          <div class="card-body">
            <p class="card-subtitle fs-6 fw-semibold text-body-secondary mt-2">
              Add rider Cash
            </p>
            <p class="card-text fw-medium my-2">
              Add money to wallet for ride booking.
            </p>

            <input
              type="number"
              class="form-control mt-3 cash-input"
              placeholder="Enter rider cash amount"
            />

            <button class="add-cash-btn mt-4 mb-md-3 mb-lg-0">Add cash</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-5">Wallet transactions</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">_id</th>
              <th scope="col">Ride Id</th>
              <th scope="col">Transaction</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>credit</td>
              <td>120.00</td>
              <td>Ride amount debited from captain wallet</td>
              <td>1/23/2025, 8:45:09 AM</td>
            </tr>
            <tr>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>credit</td>
              <td>120.00</td>
              <td>Ride amount debited from captain wallet</td>
              <td>1/23/2025, 8:45:09 AM</td>
            </tr>
            <tr>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>credit</td>
              <td>120.00</td>
              <td>Ride amount debited from captain wallet</td>
              <td>1/23/2025, 8:45:09 AM</td>
            </tr>
            <tr>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>credit</td>
              <td>120.00</td>
              <td>Ride amount debited from captain wallet</td>
              <td>1/23/2025, 8:45:09 AM</td>
            </tr>
            <tr>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>6790edc37fc95bf584b5b23a</td>
              <td>credit</td>
              <td>120.00</td>
              <td>Ride amount debited from captain wallet</td>
              <td>1/23/2025, 8:45:09 AM</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
