<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-white fs-5 fw-bold" href="#">Rider</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Captain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-light text-white" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-md-4 mb-4">
        <div>
          <p class="my-md-3 fs-1 fw-bold">Go anywhere with Rider</p>
        </div>
        <div class="mt-4">
          <p class="my-3 fs-4">
            Rides, food delivery, and more—get the app that opens the door to a
            world of possibilities. Download the Rider app now and start your
            journey.
          </p>
        </div>
        <!-- <div>
          <i class="bi bi-car-front-fill fs-3 hero-icon"></i>
          <p class="fw-bold">Ride</p>
        </div> -->
        <div class="col-md-10 mt-4">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInputGrid"
              placeholder="Pickup location"
            />
            <label for="floatingInputGrid">Pickup location</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInputGrid"
              placeholder="Drop location"
            />
            <label for="floatingInputGrid">Drop location</label>
          </div>

          <button class="btn btn-dark">See Prices</button>
        </div>
      </div>
      <div class="col-md-6" id="map">
        <!-- <img src="map-placeholder.png" class="img-fluid" alt="Map" /> -->
      </div>
    </div>
  </div>
</section>

<!-- Suggestions -->
<section class="container section">
  <div class="row ms-auto">
    <p class="fs-1 fw-bold">Suggestions</p>
    <div class="col-md-4 col-11 mb-3 mx-md-0 mx-2">
      <div class="d-flex justify-content-between flex-no-wrap suggestions">
        <div>
          <p class="fw-bold">Ride</p>
          <p>Go anywhere with Rider. Request a ride and go.</p>
          <button class="btn btn-outline-dark">Details</button>
        </div>
        <div>
          <img
            class="suggestions-img"
            src="../../../assets/images/ride_car.png"
            alt="car"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 col-11 mb-3 mx-md-0 mx-2">
      <div class="d-flex justify-content-between suggestions">
        <div>
          <p class="fw-bold">Courier</p>
          <p>Rider makes same-day item delivery easy.</p>
          <button class="btn btn-outline-dark">Details</button>
        </div>
        <div>
          <img
            class="suggestions-img"
            src="../../../assets/images/rider_reserve_clock.png"
            alt="car"
          />
        </div>
      </div>
    </div>

    <div class="col-md-4 col-11 mb-3 mx-md-0 mx-2">
      <div class="d-flex justify-content-between suggestions">
        <div>
          <p class="fw-bold">Reserve</p>
          <p>Rider make reserve your ride in advance.</p>
          <button class="btn btn-outline-dark">Details</button>
        </div>
        <div>
          <img
            class="suggestions-img"
            src="../../../assets/images/rider_courier.png"
            alt="car"
          />
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4 mb-3">
      <div class="d-flex justify-content-between suggestions">
        <div>
          <p>Reserve</p>
          <p>Reserve your ride in advance.</p>
          <button class="btn btn-outline-dark">Details</button>
        </div>
        <div>
          <img
            class="suggestions-img"
            src="assets/images/ride_car.png"
            alt="car"
          />
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- Intermediate fir Section -->
<section class="container section mt-md-4">
  <div class="row m-auto">
    <div class="col-md-6 col-12 my-5">
      <p class="fs-1 fw-bold">Log in to see your recent activity</p>
      <p class="fs-5">
        View past trips, tailored suggestions, support resources, and more.
      </p>
      <div class="mt-4 d-flex">
        <button class="btn btn-dark">Log in to your account</button>
        <p class="mx-4 mt-2 intermediate-p">
          Don’t have an Rider account? Sign up
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/rider_airport_user.webp"
        class="img-fluid"
        alt="Driver"
      />
    </div>
  </div>
</section>

<!-- Intermediate sec Section -->
<section class="container section mt-md-4">
  <div class="row m-auto">
    <div class="col-md-6">
      <img
        src="../../../assets/images/rider_driver.webp"
        class="img-fluid"
        alt="Driver"
      />
    </div>
    <div class="col-md-6 col-12 my-5">
      <p class="fs-1 fw-bold">Drive when you want, make what you need</p>
      <p class="fs-5">
        Make money on your schedule with deliveries or rides—or both. You can
        use your own car or choose a rental through Rider.
      </p>
      <div class="mt-4 d-flex">
        <button class="btn btn-dark">Get Started</button>
        <p class="mx-4 mt-2 intermediate-p">Already have an account? Sign in</p>
      </div>
    </div>
  </div>
</section>

<!-- QR Code Download Section -->
<section class="qr-code section bg-light">
  <div class="container mb-5 mt-3">
    <p class="fs-1 fw-bold">It’s easier in the apps</p>
    <div class="row mt-5">
      <div class="col-md-6 mb-3">
        <div class="d-flex justify-content-center align-items-center qr-div">
          <div>
            <img
              class="qr-section-img"
              src="../../../assets/images/rider_code.png"
              alt="QR Code"
            />
          </div>
          <div class="mx-3">
            <p class="fs-4 fw-bold mb-0">Download the Rider app</p>
            <p>Scan to download</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="d-flex justify-content-center align-items-center qr-div">
          <div>
            <img
              class="qr-section-img"
              src="../../../assets/images/rider_code.png"
              alt="QR Code"
            />
          </div>
          <div class="mx-3">
            <p class="fs-4 fw-bold mb-0">Download the Captain app</p>
            <p>Scan to download</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container">
    <p class="mt-3 fs-5 fw-bold">&copy; 2025 Rider Technologies Inc.</p>
  </div>
</footer>
