<!-- Navbar -->
<app-navbar-captain></app-navbar-captain>

<!-- Main section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-5">Welcome, Devendra</p>
        <p class="fs-5">
          Manage your info, security, and data to make Rider work better for
          you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mb-3 mb-md-0 my-3">
        <p class="fs-4 fw-bold mt-3">Basic info</p>
        <div class="row g-2">
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter first name"
              />
              <label for="floatingInputGrid">First name</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter last name"
              />
              <label for="floatingInputGrid">Last name</label>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput" class="mx-2">Email address</label>
          </div>
        </div>
        <div class="row">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput" class="mx-2">Mobile number</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mb-3 mb-md-0 my-md-3 my-lg-3">
        <p class="fs-4 fw-bold mt-md-3 mt-lg-3 mt-0">Vehicle info</p>
        <div class="row g-2">
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter first name"
              />
              <label for="floatingInputGrid">Vehicle type</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter last name"
              />
              <label for="floatingInputGrid">Vehicle number</label>
            </div>
          </div>
        </div>
        <div class="row g-2 mt-2">
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter first name"
              />
              <label for="floatingInputGrid">Vehicle color</label>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter last name"
              />
              <label for="floatingInputGrid">Vehicle capacity</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mb-3 mb-md-0 my-md-3 my-lg-3 my-0">
        <p class="fs-4 fw-bold mt-md-4 mt-lg-4 mt-3">Uploaded document info</p>
        <div class="row g-2">
          <div class="col-lg-6 col-md-6">
            <div class="card my-2">
              <img
                src="../../../assets/images/rider_uploaded_doc.jpg"
                class="card-img-top document-img"
                alt="..."
              />
              <div class="card-body">
                <p class="card-title fs-5 fw-semibold mt-1">
                  Aadhar card front side
                </p>
                <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
                <a class="btn btn-dark mt-3" (click)="showDocument()"
                  >View document</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card my-2">
              <img
                src="../../../assets/images/rider_uploaded_doc.jpg"
                class="card-img-top document-img"
                alt="..."
              />
              <div class="card-body">
                <p class="card-title fs-5 fw-semibold mt-1">
                  Aadhar card front side
                </p>
                <!-- <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                  </p> -->
                <a class="btn btn-dark mt-3">View document</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-2">
          <div class="col-lg-6 col-md-6">
            <div class="card my-2">
              <img
                src="../../../assets/images/rider_uploaded_doc.jpg"
                class="card-img-top document-img"
                alt="..."
              />
              <div class="card-body">
                <p class="card-title fs-5 fw-semibold mt-1">
                  Aadhar card front side
                </p>
                <!-- <p class="card-text">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                  </p> -->
                <a class="btn btn-dark mt-3">View document</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card my-2">
              <img
                src="../../../assets/images/rider_uploaded_doc.jpg"
                class="card-img-top document-img"
                alt="..."
              />
              <div class="card-body">
                <p class="card-title fs-5 fw-semibold mt-1">
                  Aadhar card front side
                </p>
                <!-- <p class="card-text">
                      Some quick example text to build on the card title and make up
                      the bulk of the card's content.
                    </p> -->
                <a href="#" class="btn btn-dark mt-3">View document</a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-12">
          <p class="fs-5 fw-semibold">You have not uploaded document</p>
        </div> -->
      </div>
    </div>
  </div>
</section>
