<!-- Navbar -->
<app-navbar-captain></app-navbar-captain>

<!-- Top section -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-10">
        <p class="fs-3 fw-bold mt-4">Upload Documents</p>
        <p class="fs-5 my-3">
          <span
            >Add documents for verification. Please ensure that all documents
            are clear and legible.</span
          >
          <br />
          <span>Accepted all formats expect PDF.</span>
        </p>
      </div>
    </div>

    <div class="row my-lg-4 my-md-4 my-2">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <label for="formFile" class="form-label fw-semibold"
            >Aadhar card front side</label
          >
          <input
            class="form-control"
            type="file"
            (change)="onFileSelected($event, 'aadharfront')"
          />
          <div class="" *ngIf="aadharCardFrontUploaded">
            <p class="text-danger">Aadhar card front side uploaded!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <label for="formFile" class="form-label fw-semibold"
            >Aadhar card back side</label
          >
          <input
            class="form-control"
            type="file"
            (change)="onFileSelected($event, 'aadharback')"
          />
          <div class="" *ngIf="aadharCardBackUploaded">
            <p class="text-danger">Aadhar card back side uploaded!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <label for="formFile" class="form-label fw-semibold"
            >Driving license</label
          >
          <input
            class="form-control"
            type="file"
            (change)="onFileSelected($event, 'drivinglicense')"
          />
          <div class="" *ngIf="drivinglicenseUploaded">
            <p class="text-danger">Driving license uploaded!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <label for="formFile" class="form-label fw-semibold"
            >Register certificate (RC)</label
          >
          <input
            class="form-control"
            type="file"
            (change)="onFileSelected($event, 'rc')"
          />
          <div class="" *ngIf="rcUploaded">
            <p class="text-danger">Register certificate (RC) uploaded!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
