<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Main section -->
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="shadow-lg p-3 mb-md-5 mb-4 bg-body-tertiary rounded">
          <div>
            <p class="fs-4 fw-bolder mx-1">Get a ride</p>
          </div>
          <div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control main-btn"
                id="floatingInput"
                placeholder="Enter pickup location"
                [(ngModel)]="locationDetails.pickupLoc"
                disabled
              />
              <label for="floatingInput">Pickup location</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control main-btn"
                id="floatingInput"
                placeholder="Enter drop location"
                [(ngModel)]="locationDetails.dropLoc"
                disabled
              />
              <label for="floatingInput">Drop location</label>
            </div>
            <!-- <button class="btn btn-dark form-control p-2 mb-2">Search</button> -->
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-7 order-2 mt-lg-0 mt-md-0 mt-sm-4 mt-4">
        <div class="main">
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="isWalletAmountLess"
          >
            <i class="bi bi-exclamation-triangle-fill me-2"></i>Wallet amount is
            less than the ride amount please recharge your wallet!
          </div>

          <div>
            <p class="fs-1 fw-bolder mx-1">Choose a ride</p>
            <p class="fs-5 fw-bolder mx-1">Recommended</p>
          </div>

          <div class="choose-vehicle-container" *ngIf="vehiclesData?.length === 0">
            <p class="text-danger fs-5 fw-bold text-center">Vehicle prices not fetched..</p>
          </div>
          
          <div class="choose-vehicle-container" *ngIf="vehiclesData?.length !== 0">
            <div class="choose-vehicle" *ngFor="let vehicle of vehiclesData; let i = index">
              <div
                class="card mb-3 vehicle-card"
                tabindex="0"
                [ngClass]="{
                  'vehicle-card-border': activeVehicleIndex === i
                }"
                (click)="getVehicleDetails(i,vehicle.vehicleType)"
              >
                <div class="d-flex align-items-center">
                  <div>
                    <img
                      [src]='vehicle.vehicleImage'
                      class="img-fluid rounded-start img-vehicle"
                      alt="Vehicle image"
                    />
                  </div>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="card-body p-0 me-lg-5 me-sm-5">
                        <h5 class="card-title fw-bold mb-0">{{ vehicle.vehicleType | titlecase }}</h5>
                      <p class="card-text">
                        {{ vehicle.description }} <br />
                        <small class="text-body-secondary">7 mins away</small>
                      </p>
                    </div>
                    <div>
                      <h5 class="card-title fw-bold ms-5 me-2">
                        {{ vehicle.discountedFare }}
                      </h5>
                      <h6 class="card-title fw-bold ms-5 me-2 text-end text-decoration-line-through">
                        {{ vehicle.fare }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>         
          <div>
            <div
              class="payment-method d-flex justify-content-between align-items-center mb-3 mb-md-0"
            >
              <div>
                <p
                  class="m-0 fw-bold"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  role="button"
                  tabindex="0"
                >
                  {{ rideDetails.paymentMethod }}
                  <i class="bi bi-chevron-down mx-2 mt-2"></i>
                </p>
              </div>
              <div>
                <button
                  class="btn"
                  data-bs-toggle="modal" 
                  data-bs-target="#summaryModal"
                  [disabled]="!rideDetails.vehicleType || isWalletAmountLess"
                >
                  Get summary
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-12 order-lg-2 order-md-2 order-1 mt-md-5 mt-lg-0"
      >
        <app-map [height]="'78vh'"></app-map>
      </div>
    </div>
  </div>
</section>

<!-- Payment Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel">
          Payment options
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="mb-3 fs-5 fw-semibold">Rider cash:</div>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="fs-6 fw-semibold">
                <i class="bi bi-wallet2 me-2"></i>Rider cash:<i
                  class="bi bi-currency-rupee mx-1"
                ></i
                >{{ walletBalance }}
              </p>
            </div>
            <div>
              <input
                type="radio"
                class="form-check-input custom-radio-btn"
                name="payment-method"
                id="wallet"
                value="wallet"
                [(ngModel)]="rideDetails.paymentMethod"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 fs-5 fw-semibold">Payment method:</div>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="fs-6 fw-semibold">
                <i class="bi bi-cash-stack me-2"></i> Cash
              </p>
            </div>
            <div>
              <input
                type="radio"
                class="form-check-input custom-radio-btn"
                name="payment-method"
                id="cash"
                value="cash"
                checked
                [(ngModel)]="rideDetails.paymentMethod"
              />
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
              <p class="fs-6 fw-semibold">
                <i class="bi bi-credit-card-fill me-2"></i> Online
              </p>
            </div>
            <div>
              <input
                type="radio"
                class="form-check-input custom-radio-btn"
                name="payment-method"
                id="online"
                value="online"
                [(ngModel)]="rideDetails.paymentMethod"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark w-100"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Summary Modal -->
<div class="modal fade" id="summaryModal"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="summaryModalLabel">Ride Summary</h1>
        <button type="button" class="btn-close" (click)="resetValue()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row p-1">
          <p class="m-0 mb-1"><span class="fs-6 fw-bold">Pickup location:</span> {{ rideDetails.pickup }}</p>
          <p class="m-0 mb-1"><span class="fs-6 fw-bold">Drop location:</span> {{ rideDetails.drop }}</p>
          <p class="m-0 mb-1"><span class="fs-6 fw-bold">Vehicle required:</span> {{ rideDetails.vehicleType }}</p>
          <p class="m-0 mb-1"><span class="fs-6 fw-bold">Payment method:</span> {{ rideDetails.paymentMethod }}</p>
          <div *ngIf="rideDetails.paymentMethod !== 'cash'">
          <input type="checkbox" name="" id="" [(ngModel)]="rideDetails.isCouponWanted"><span class="mx-2">Are you want to apply coupon code?</span>
          </div>
        </div>

        <div class="row mt-3" *ngIf="rideDetails.isCouponWanted">
          <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" placeholder="Enter coupon code" name="couponCode" [(ngModel)]="rideDetails.couponCode" #couponCodeRef="ngModel" pattern="[A-Z0-9]+" required>
            <div class="text-danger" *ngIf="couponCodeRef.invalid && couponCodeRef.touched">
              <span *ngIf="couponCodeRef.errors?.['pattern']">Please enter valid coupon code</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-12 mt-lg-0 mt-md-0 mt-2">
            <button class="btn btn-dark w-100" [disabled]="!rideDetails.couponCode || couponCodeRef.errors?.['pattern']" (click)="applyCoupon()">Apply</button>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1">
            <table class="table table-bordered border-dark">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Bill details</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>Base fare</td>
                  <td class="text-end">₹ {{ selectedVehicle?.baseFare }}</td>
                </tr>
                <tr >
                  <td>Discounted fare</td>
                  <td class="text-end">₹ {{ selectedVehicle?.baseFare - selectedVehicle?.fare }}</td>
                </tr>
                <tr >
                  <td>Coupon discount</td>
                  <td class="text-end">{{ appliedCouponData?.discountType === 'percentage' 
                    ? appliedCouponData.discount + ' %' 
                    : appliedCouponData?.discountType === 'amount' 
                      ? '₹ ' + appliedCouponData.discount 
                      : 0 }}
                </td>  
                </tr>
                <tr >
                  <td>Total fare</td>
                  <td class="text-end">₹ {{ getDiscountAmount() }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="w-100 btn btn-dark" (click)="generateTrip()" data-bs-dismiss="modal"
        aria-label="Close">Request {{ rideDetails.vehicleType }}</button>
      </div>
    </div>
  </div>
</div>