<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Main section -->
<section>
  <div class="container">
    <div class="row mt-4">
      <p class="fw-medium back-btn" routerLink="/trips">
        <i class="bi bi-arrow-left me-2"></i>{{'Back to trips' | translate}}
      </p>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-lg-8 mx-2 mx-md-0 mx-lg-0">
        <div class="d-flex justify-content-between align-items-center">
          <p class="fs-2 fw-bold">{{'Your ride' | translate}}</p>

          <div class="dropstart">
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngIf="rideDetail.rideReview == undefined && rideDetail.status == 'completed'"><a class="dropdown-item" (click)="reviewPopUp()">Leave a review</a></li>
              <li *ngIf="rideDetail.rideReview !== undefined && rideDetail.status == 'completed'"><a class="dropdown-item">You added a review</a></li>
              <!-- <li><a class="dropdown-item" href="#">Menu item</a></li>
              <li><a class="dropdown-item" href="#">Menu item</a></li> -->
            </ul>
          </div>
        </div>

        <p class="fs-5 fw-semibold">
          {{ rideDetail.pickup }} - {{ rideDetail.destination }}
        </p>

        <p>
          <i class="bi bi-currency-rupee"></i>{{ rideDetail.fare
          }}<i class="bi bi-dot">{{
            rideDetail.status == "pending"
              ? "ride not accepted by captain"
              : rideDetail.captain?.fullname?.firstname +
                " " +
                rideDetail.captain?.fullname?.lastname
          }}</i
          ><i class="bi bi-dot">{{ rideDetail.vehicleRequired }}</i>
        </p>

        <div class="d-flex justify-content-between">
          <p>{{ rideDetail.createOn | date : "h:mm:ss a, MMMM d y" }}</p>
          <p class="btn btn-primary" *ngIf="rideDetail.status == 'pending'">
            {{'Pending' | translate}}
          </p>
          <p class="btn btn-success" *ngIf="rideDetail.status == 'accepted'">
            {{'Accepted' | translate}}
          </p>
          <p class="btn btn-secondary" *ngIf="rideDetail.status == 'ongoing'">
            {{'Ongoing' | translate}}
          </p>
          <p class="btn btn-dark" *ngIf="rideDetail.status == 'completed'">
            {{'Completed' | translate}}
          </p>
          <p class="btn btn-danger" *ngIf="rideDetail.status == 'cancelled'">
            {{'Cancelled' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-2"></div>
      <app-map
        class="col-lg-8 mx-2 mx-md-0 mx-lg-0"
        [height]="'50vh'"
      ></app-map>
    </div>
  </div>
</section>
